*{
	// outline: 1px solid red;
}
body {
	margin: 0;
	padding: 0;
}
header {
	// position: fixed;
	z-index: 1;
}
.col {
	width: 80%;
}
.portada{
		background-image: url("../img/fondo-bienvenida.jpg");		
		height: 700px;
}
#bienvenida {
	width: 500px;    
	position: relative;
	left: 200px;
	top: 200px;
	left: 400px;
}

@import "parciales/vision.scss";
@import "parciales/preguntas.scss";
@import "parciales/campos.scss";
@import "parciales/header.scss";
@import "parciales/footer.scss";