*{
	outline: 1px solid red;
}
.col {
	width: 80%;
}
.portada{
		background-image: url("../img/fondo-bienvenida.jpg");		
		height: 700px;
}
#bienvenida {
	width: 500px;    
	position: relative;
	left: 200px;
	top: 200px;
	left: 400px;
}