#texto-amo-te {
	position: relative;
    top: 50px;
    left: 70px;
    text-align: justify;
}
.amo-el-te {
    height: 700px;

}
.logo-te {
   position: relative;
   right: 235px;
}
#caja {
	position: relative;
    top: 100px;
    left: 100px;
}