.campos {
	background-image: url("../img/parallax-4.jpg");		
	height: 700px;
    background-size: cover;
}
#campos-te {
    height: 300px;
    width: 500px;
    position: relative;
    left: 350px;
    margin-right: -15px;
    top: 200px;
    margin-left: -15px;
    color: white;
}
#campos-h1 {
	font-size: 80px;	
}