.logo-preguntas {
   position: relative; 
   bottom: 180px;
   right: 350px;
}
.preguntas {
	background-image: url("../img/parallax-2.jpg");		
	height: 650px;
    background-size: cover;
}
#preguntas-te {
    height: 300px;
    width: 500px;
    position: relative;
    left: 350px;
    margin-right: -15px;
    top: 200px;
    margin-left: -15px;
    color: white;
}
#preguntas-h1 {
	font-size: 80px;	
}
#uno-preguntas, #dos-preguntas, #tres-preguntas, #cuatro-preguntas{
    line-height: 1.5 !important;
    text-align: center;
    height: 560px;
}
#color-mostasa, #color-verde, #color-rosado {
    position: relative;
    top: 65px;
    left: 30px;
}
#texto-1, #texto-2, #texto-3 {
    // border: 1px solid red;
    position: relative;
    top: 50px;
}