.preguntas {
	background-image: url("../img/parallax-2.jpg");		
	height: 700px;
}
#preguntas-te {
    height: 300px;
    width: 500px;
    position: relative;
    left: 350px;
    margin-right: -15px;
    top: 200px;
    margin-left: -15px;
    color: white;
}
#preguntas-h1 {
	font-size: 80px;	
}