@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 0.5 !important; }

header {
  z-index: 1; }

.navbar {
  padding: 10px;
  height: 150px; }

#logo {
  position: relative;
  left: 90px; }

.portada {
  background-image: url("../img/fondo-bienvenida.jpg");
  height: 690px;
  background-size: cover; }

#bienvenida {
  width: 500px;
  position: relative;
  left: 300px; }

#scroll {
  color: white;
  width: 50px;
  position: relative;
  top: 250px;
  left: 25px; }

.about {
  background-image: url("../img/fondo-about.jpg");
  height: 700px;
  background-size: cover;
  line-height: 1.5 !important; }

#nuestra-pasion {
  height: 300px;
  width: 500px;
  position: relative;
  left: 350px;
  margin-right: -15px;
  top: 200px;
  margin-left: -15px;
  color: white; }

#nuestra-h1 {
  font-size: 80px; }

.colore-h1 {
  color: pink;
  padding-top: 50px; }

.colore-h1, .colore-p {
  text-align: center;
  line-height: 1.5 !important; }

#mosaico {
  line-height: 1.5 !important; }

.colore-p {
  padding-bottom: 40px; }

#fotos-4 {
  margin-left: -15px;
  width: 100%; }

.foto-1 {
  background-image: url("../img/min-video-1-2.jpg");
  height: 600px;
  color: white;
  background-size: cover; }

.foto-2 {
  background-image: url("../img/min-video-3.jpg");
  height: 300px;
  color: white;
  background-size: cover;
  width: 100px; }

.foto-3 {
  background-image: url("../img/min-video-5.jpg");
  height: 300px;
  color: white;
  background-size: cover;
  width: 100px; }

.foto-4 {
  background-image: url("../img/min-video-6.jpg");
  height: 300px;
  color: white;
  background-size: cover;
  width: 100px; }

.texto1 {
  width: 300px;
  position: relative;
  top: 250px;
  left: 145px; }

.texto2 {
  position: relative;
  top: 150px; }

.texto3 {
  width: 200px;
  position: relative;
  top: 120px;
  left: 65px; }

.texto4 {
  width: 200px;
  position: relative;
  top: 100px;
  left: 160px; }

#logo-preguntas {
  position: relative;
  bottom: 180px;
  right: 350px; }

.preguntas {
  background-image: url("../img/parallax-2.jpg");
  height: 650px;
  background-size: cover; }

#preguntas-te {
  height: 300px;
  width: 500px;
  position: relative;
  left: 350px;
  margin-right: -15px;
  top: 200px;
  margin-left: -15px;
  color: white; }

#preguntas-h1 {
  font-size: 80px; }

#uno-preguntas, #dos-preguntas, #tres-preguntas, #cuatro-preguntas {
  line-height: 1.5 !important;
  text-align: center; }

.campos {
  background-image: url("../img/parallax-4.jpg");
  height: 700px;
  background-size: cover; }

#campos-te {
  height: 300px;
  width: 500px;
  position: relative;
  left: 350px;
  margin-right: -15px;
  top: 200px;
  margin-left: -15px;
  color: white; }

#campos-h1 {
  font-size: 80px; }

footer {
  background: #374C4F !important;
  width: 100%;
  bottom: 0;
  color: white;
  padding: 10px; }

#logo-footer {
  position: relative;
  left: 50px; }

#texto-footer {
  position: relative;
  left: 150px;
  color: #D9CCCC; }

/*# sourceMappingURL=main.css.map */
